@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-container--disappear {
    0% {
        opacity: 1;
        //transform: scale(1);
        z-index: 1000;
        //visibility: visible;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        //transform: scale(0);
        z-index: -1;
        //visibility: hidden;
    }
}

@keyframes disappear-after-loader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*@keyframes spinner {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}*/


/*@keyframes fade-in1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in2 {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }
    50% {
        -webkit-opacity: 0.6;
        -moz-opacity: 0.6;
        opacity: 0.6;
    }
    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}*/

@keyframes translateY__course {
    0% {
        transform: translateY(-70px);
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}


/*@keyframes fade-in1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}*/