@mixin cards--border-radius {
    border-radius: 25px;
}

@mixin cards-shadow ($shadow-size-left:3px, $shadow-size-bottom:3px, $shadow-opacity: 1px, $color: $mediumgrey) {
    box-shadow: 3px 3px 1px $color;
}

@mixin cards ($height) {
    width: 90%;
    margin: 5%;
    height: $height;
    text-decoration: none;
    color: black;
    overflow: hidden;
    @include cards--border-radius;
    @include cards-shadow;
}

@mixin logo-ohmyfood {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@mixin pink-button {
    justify-content: center;
    padding: 15px;
    border-radius: 40px;
    background-color: $secondaire;
    color: #FFFFFF;
    font-size: 16px;
    width: 50%;
    margin: auto;
    border: none;
    box-shadow: 3px 3px 1px #f0f0f0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover {
        border-radius: 30px;
        &::after {
            opacity: 1;
        }
    }
    &::after {
        border-radius: 40px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient($secondaire, $primaire);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms 50ms ease-in;
    }
}