@mixin cards--border-radius {
    border-radius: 20px;
}

@mixin cards-shadow ($shadow-size-left:3px, $shadow-size-bottom:3px, $shadow-opacity: 1px, $color: $mediumgrey) {
    box-shadow: 3px 3px 1px $color;
}

@mixin cards ($height) {
    width: 90%;
    margin: 5%;
    height: $height;
    text-decoration: none;
    color: black;
    overflow: hidden;
    @include cards--border-radius;
    @include cards-shadow;
}

@mixin logo-ohmyfood {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

// @mixin margin
// @mixin padding
@mixin pink-button {
    justify-content: center;
    padding: 15px;
    @include cards--border-radius;
    //background-color: $secondaire;
    background: linear-gradient($secondaire, $primaire);
    color: $white;
    font-size: 16px;
    width: 50%;
    margin: auto;
    border: none;
    @include cards-shadow($darkgrey);
    @include mobile-only {
        width: 60%;
    }
    &:hover {
        opacity: 85%;
        box-shadow: 4px 4px 3px $darkgrey;
    }
}