$primaire: #9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$lightgrey: #f1f1f1;
$mediumgrey: #eaeaea;
$darkgrey: #353535;
$white: #ffffff;
$black: #000000;
$title-font: 'Shrikhand',
'sans-serif';
$common-font: 'Roboto',
'sans serif';