//@import url("normalize.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'partials/variables';
@import 'partials/mixin';
@import 'partials/header-footer';
@import 'partials/media-querys';
@import 'partials/keyframes';
body {
    width: 100%;
    font-family: $common-font;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 1;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    animation: loader-container--disappear 3s 0s ease-in-out both;
}

.loader-circles {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 300px;
    border: 6px solid transparent;
    border-top-color: #9356DC;
    position: relative;
    animation: spin 1.5s 0.5s infinite;
    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 300px;
        border: 6px solid transparent;
        border-top-color: #FF79DA;
        opacity: 0.8;
        animation: spin 2s 0.5s infinite;
    }
    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 300px;
        border: 6px solid transparent;
        border-top-color: #99E2D0;
        animation: spin 0.5s 0.5s infinite;
    }
}

header {
    @include header-ohmyfood;
    img {
        @include logo-ohmyfood();
    }
}

main {
    width: 100%;
    animation: disappear-after-loader 3s 0s ease-in-out both;
}

.form-nav {
    display: flex;
    flex-direction: row-reverse;
    @include tablette-only {
        flex-direction: column;
    }
    @include mobile-only {
        flex-direction: column;
    }
}

form {
    background-color: $lightgrey;
    color: $darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 50px 0;
    width: 75%;
    @include mobile-only {
        width: 100%;
        padding: 0 0 50px 0;
    }
    @include tablette-only {
        width: 100%;
    }
    div {
        background-color: $mediumgrey;
        border-radius: 20px;
        padding: 5px 30px;
        font-size: 20px;
        width: 65%;
        @include mobile-only {
            width: 100%;
            border-radius: 0;
            padding: 0;
        }
        input {
            border: none;
            color: black;
            background-color: $mediumgrey;
        }
        i {
            padding: 10px;
        }
    }
    h1 {
        padding-top: 20px;
        font-size: 25px;
        font-weight: 700;
        width: 70%;
    }
    h3 {
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .btn {
        @include pink-button;
    }
}

#functionning {
    padding: 30px;
    height: 100%;
    margin-bottom: 30px;
    //margin-top: 20px;
    width: 25%;
    position: fixed;
    left: 0;
    //z-index: 10;
    background-color: $white;
    @include mobile-only {
        width: 85%;
        position: static;
        //z-index: 0;
        height: auto;
    }
    @include tablette-only {
        width: 93%;
        position: static;
    }
    div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include tablette-only {
            justify-content: space-around;
        }
    }
}

.parts {
    background-color: $lightgrey;
    //width: 70%;
    padding: 5px 15px;
    //@include cards--border-radius;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    //@include cards-shadow($mediumgrey);
    box-shadow: 3px 3px 5px $mediumgrey;
    z-index: 1;
    @include mobile-only {
        width: 90%;
    }
    @include tablette-only {
        width: 90%;
    }
    &:hover {
        box-shadow: 4px 4px 3px $darkgrey;
        &::after {
            opacity: 0.2;
            z-index: 2;
        }
        &>.fa-solid {
            color: $primaire;
        }
        // l'icône devrait devenir violotte au hover 
    }
    &::after {
        border-radius: 25px;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $primaire;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-in;
    }
    span {
        padding: 5px 10px;
        //@include cards--border-radius;
        border-radius: 25px;
        background-color: $primaire;
        position: absolute;
        left: -10px;
        top: 18px;
        color: $white;
    }
    i {
        margin-top: 12px;
        font-size: 20px;
        padding: 5px;
    }
    p {
        display: inline-block;
        margin: 0;
    }
}

#restaurants {
    padding-top: 30px;
    padding-bottom: 30px;
    //margin-left: 30%;
    background-color: $lightgrey;
    width: 75%;
    display: flex;
    flex-direction: column;
    height: auto;
    //align-items: flex-end;
    @include mobile-only {
        width: 100%;
    }
    @include tablette-only {
        width: 100%;
    }
    h2 {
        padding-left: 20px;
        font-weight: 600;
    }
    .restaurants-names {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
    }
}

.restaurants {
    width: 45%;
    border-radius: 25px;
    margin: 10px;
    //@include cards(220px);
    /* A REVOIR */
    //position: static;
    text-decoration: none;
    overflow: hidden;
    background-color: $white;
    .images {
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            -o-object-position: 0% 65%;
            object-position: 0% 65%;
            height: 165px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .new {
            padding: 6px 8px;
            background-color: $tertiaire;
            color: darken($tertiaire, 30%);
            font-weight: 500;
            font-size: 15px;
            position: absolute;
            top: 0px;
            right: 20px;
        }
    }
    @include mobile-only {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.restaurants .card-body {
    background-color: $white;
    position: relative;
    color: $darkgrey;
    grid-row: 7/10;
    grid-column: 1/11;
    display: flex;
    padding: 5px 10px 10px 10px;
    justify-content: space-between;
    div {
        padding: 0;
        flex-direction: column;
        h3 {
            margin: 0;
            font-weight: 600;
        }
        p {
            margin: 0;
            font-weight: 300;
        }
    }
    .empty {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 23px;
        opacity: 1;
        z-index: 999;
        transition: all 1s;
        &:hover {
            opacity: 0;
        }
        &:hover+.full {
            height: 100%;
        }
    }
    .full {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 24px;
        height: 0%;
        background: linear-gradient(180deg, $secondaire 24%, $primaire 76%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 2s ease-in-out;
        opacity: 1;
        height: 0%;
        &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 0px;
            background: #fff;
            height: 100%;
        }
    }
}

footer {
    @include footer-ohmyfood;
}