@import url("normalize.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  width: 100%;
  font-family: "Roboto", "sans serif";
  margin: 0;
}

header {
  -webkit-box-shadow: 3px 3px 1px #eaeaea;
          box-shadow: 3px 3px 1px #eaeaea;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 250px;
}

form {
  background-color: #f2f2f2;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

@media screen and (max-width: 540px) {
  form {
    padding: 0 0 20px 0;
  }
}

form div {
  background-color: #eaeaea;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

@media screen and (max-width: 540px) {
  form div {
    max-width: none;
    width: 100%;
    border-radius: none;
  }
}

form div input {
  border: none;
  color: black;
  background-color: #eaeaea;
}

form div i {
  padding: 10px;
}

form h1 {
  padding-top: 20px;
  font-size: 26px;
  font-weight: 900;
}

form h3 {
  font-weight: 300;
}

form button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  border-radius: 20px;
  background-color: #FF79DA;
  color: #ffffff;
  font-size: 16px;
  width: 50%;
  margin: auto;
  border: none;
  -webkit-box-shadow: 3px 3px 1px #eaeaea;
          box-shadow: 3px 3px 1px #eaeaea;
}

@media screen and (max-width: 540px) {
  form button {
    width: 60%;
  }
}

main {
  width: 100%;
}

#functionning {
  padding: 20px;
  height: 150px;
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 540px) {
  #functionning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#functionning h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

#functionning a {
  background-color: #f2f2f2;
  width: 80%;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 1px #eaeaea;
          box-shadow: 3px 3px 1px #eaeaea;
}

#functionning a span {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: 18px;
  color: #ffffff;
}

#functionning a i {
  margin-top: 12px;
  font-size: 20px;
  padding: 5px;
  color: #353535;
}

#functionning a p {
  display: inline-block;
}

#restaurants {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 1fr 1fr;
      grid-template-rows: 50px 1fr 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants h2 {
  padding-left: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#restaurants .restaurants {
  width: 90%;
  margin: 5%;
  height: 250px;
  text-decoration: none;
  color: black;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 1px #eaeaea;
          box-shadow: 3px 3px 1px #eaeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[10];
      grid-template-columns: repeat(10, 10%);
  -ms-grid-rows: (12.5%)[8];
      grid-template-rows: repeat(8, 12.5%);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#restaurants .restaurants img {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

#restaurants .restaurants .new {
  padding: 6px 8px;
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
  position: absolute;
  right: 30px;
}

#restaurants .restaurants div {
  background-color: #ffffff;
  color: #353535;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .restaurants div .titles {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#restaurants .restaurants div .titles h3,
#restaurants .restaurants div .titles p {
  margin: 0;
}

#restaurants .restaurants div i {
  color: black;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 20px;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 25px;
}

footer h2 {
  font-family: "Shrikhand", "sans-serif";
  margin: 0;
  padding-bottom: 15px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  padding: 5px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=accueil.css.map */